*{
    margin: 0;
    padding: 0;
    font-family: 'poppins','sans-serif';
    box-sizing: border-box; /*is property m jo hum padding dety h content ko wahi milti h border+pading mila k and exclude margin */
}

.container
{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    /* background: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.5)); */
    padding: 10px;
}

.To-Do-App{
    width: 100%; 
    max-width: 540px;
    background: white;
    margin: 100px auto 20px; /*Top left right bottom */
    padding:40px 30px 70px ; /*top left right bottom , 30*/
    border-radius: 15px;
}

.To-Do-App h2
{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    text-decoration: underline;
}
.To-Do-App h2 img
{
    width: 70px;
    margin-left: 10px;
}
.row
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.row input
{
    /* flex: 1; */
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: large;
}

#btn
{
    border: none;
    outline: none;
    padding: 16px 50px;/*Top & bottom , left & right  */
    background-color: #ff5945;
    cursor: pointer;
    border-radius: 50px;
    color: white;
    font-size: 16px;

}

ul li
{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position:relative;
}

ul li::before
{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked
{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before
{
    background-image: url(images/checked.png);

}



ul li span
{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    /* color: #555; */
    color: red;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover
{

    background: #edeef0;
}


